<!DOCTYPE html>
<html>
  <head>
    <title>Tarea 1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="landing-page">
    <div class="navbar">
      <div class="home-button"><%= link_to "Home", home_path%></div>
      <div>
        <form class="search-bar" action="/search">
          <input type="text" name="q" placeholder="Buscar">
          <button type="submit">Buscar</button>
        </form>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
